page-inquiry {
    //툴바
    ion-navbar.toolbar {
        border-bottom: 1px solid #e6e6e6;
    }
    //타이틀 - 계정설정    
    .toolbar-title-md,  .toolbar-title-ios {
        color:#993dbc;
    }
    .toolbar-background, .toolbar-background-md {
    background-color:white;
    }
    //전체배경
    .scroll-content {
    background-color:#E6E6E6;
    color:grey;
    }

    //내용
    textarea{
        width:100%;
        height:420px;
        border:solid 0px;
        padding-left:10px;
    }

    .item-ios, .item-md{
        padding-left:0px;
    }

    //제목 밑줄 처음
    .list-md .item-block .item-inner {
        border-bottom: 1px solid white;
    }
    //제목 쓰고 지울때
   .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color:white;
        box-shadow: none;
    }
    //쓸때 포커스 있을때
    .item-md.item-input.input-has-focus .item-inner{
        border-bottom-color:white;
        box-shadow: none;
    }
    //쓰고 난후 포커스 다른곳
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: white;
        box-shadow: inset 0 -1px 0 0 white;
    }  
    
    //밑줄
    .list-ios .item-block .item-inner {
        border-bottom: 1px solid white;
    }

    //placeholder 여백
    .text-input-ios {
        padding-left:10px;
    }

    //등록하기 버튼
    .button-clear-ios,.button-clear-md {
        color: #993dbc;
    }

}
