page-notice-detail {
    //툴바
    ion-navbar.toolbar {
        border-bottom: 1px solid #e6e6e6;
    }
    //타이틀 - 나의정보    
    .toolbar-title-md,  .toolbar-title-ios {
        color:#993dbc;
    }
    .toolbar-background, .toolbar-background-md {
    background-color:white;
    }
     //전체배경
    .scroll-content {
    background-color:white;
    }

    //내용
    #notice_content{
        color:black;
        margin-top:2%;
        margin-left:2%;
    }
}
